@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #1D2023;
  color: #eeeeee;
}