@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
margin:0;
padding: 0;  
}


*::-webkit-scrollbar {
  
  @apply w-2 bg-background
}

*::-webkit-scrollbar-thumb {
 
  @apply border-r-8 bg-whiteOpacity
}

*::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  @apply bg-blackMenu
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #1D2023;
  color: #eeeeee;
 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body{
  @apply text-sm 
}

.active{
  color: green;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}